@charset "UTF-8";
 /* Dropdown container */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Dropdown links */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Show the dropdown menu on hover or click */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown when clicked */
        .dropdown:hover .dropdown-content {
            display: block;
        }
